{% extends 'base.html' %}

{% block content %}

    <h2>Modifier le billet</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label>Titre</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div>
            <label>Description</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div>
            <label>Image</label>
            {{ form.image }}
            {{ form.image.errors }}
        </div>

        {% if ticket.image %}
            <p>
                Image actuelle :
                <br>
                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" style="max-width: 300px;">
            </p>
        {% endif %}

        <button type="submit">Enregistrer</button>
        <a href="{% url 'ticket_detail' ticket.id %}">Annuler</a>
    </form>

{% endblock %}